<template name="musyncPlaylist">
    <table border="0">
        <tbody>
            <tr>
                <td style='width:150px; vertical-align: top'>
                    <table id='playlists' style='background: rgb(240, 240, 240); width:100%'>
                        <tr>
                            <td>
                                <input type="button" name="createPlaylist" id="createPlaylist" value="Create Playlist" style='width:100%' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{#each playlists}}
                                    {{> musyncPlaylistItem}}
                                {{/each}}
                            </td>
                        </tr>
                    </table>
                </td>
                <td style='width:200px; vertical-align: top'>
                    {{#each songlist}}
                        {{> musyncSongListItem}}
                    {{/each}}
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 50%; vertical-align: top">
                                    <input type="text" name="searchField" id="searchField" value="" />
                                    <input type="button" name="searchButton" id="searchButton" value="Search" />
                                    <p id='searchError'></p>
                                    <div id="videoResultTable">
                                        {{#each searchResults}}
                                            {{> musyncSearchResultItem}}
                                        {{/each}}
                                    </div>
                                </td>
                                <td style="width: 50%; vertical-align: top">
                                    <div id="player"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</template>